*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.up-section{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(http://news.unair.ac.id/wp-content/uploads/2016/02/Top-500.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    font-family:'Poppins', sans-serif ;
}
.up-section img{
    width: 75px;
    padding: 20px;
}
.header-right{
    font-size: 32px;
    float: right;
    padding: 40px 20px;
    color: rgba(255, 255, 255, 0.767);
}

.web-desc{
    background-color:rgb(236, 236, 236);
    font-weight: lighter;
    font-size: 24px;
    text-align: left;
    border-bottom:1px solid rgb(172, 172, 172);
}
.desc-info{
    padding: 36px 20px;
}
.desc-info p{
    font-size: 20px;
}

.main-content{
    padding: 20px;
    text-align: center;
    height: 500px;
}
.container{
    display:flex;
}
.village{
    float: left;
    width: 24%;
    border:0px solid black;
    padding-bottom:1px;
    border-radius: 10px;
    margin: 10px 5px;
    background-color: rgb(240, 240, 240);
}
.village-name{
    border-bottom:0 solid black;
    border-radius: 10px;
    background-color:rgb(211, 211, 211);
}
#village-2{
    width: 50%;
}








